<hr />
<p class="pagination-centered">
    <small class="muted">
        <a class="no-link" href="/huginn">
            Copyright Dark Overlord of Data 2013</a>
    </small>
<p class="pagination-centered">
    <a href="https://github.com/darkoverlordofdata/huginn">
        <i class="icon icon-octocat"></i></a>
</p>
</div>
<script type="text/javascript" src="//code.jquery.com/jquery-2.0.2.min.js" ></script>
<script type="text/javascript" src="//cdn.darkoverlordofdata.com/js/bootstrap.min.js" ></script>
</body>
</html>